.shortCardWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 21px 19px;
  border-radius: 5px;
  border-bottom: 5px solid var(--border-color, #000);
  background-color: var(--cardBackground);
  width: 263px;

  &:hover {
    background-color: var(--cardHover);
  }

  img {
    margin-bottom: 21px;
  }
}


.imagePlaceholder {
  display: block;
  height: 123px;
  width: 223px;
  background: var(--imagePlaceholder);
  margin-bottom: 21px;
}

.rateSectionWrapper {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;

  margin-bottom: 18px;
}

.rate {
  display: flex;
  flex-direction: row;
  gap: 3px;

  h3 {
    font-size: 10px;
    padding: 0;
    margin: 0;
    color: var(--primaryText);
  }
}

.title {
  display: block;
  text-align: end;
  text-transform: uppercase;
  margin: 0 0 4px;
  color: var(--titleText);
  font-size: 20px;
  padding: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 227px;
  max-width: 100%;
  box-sizing: border-box;
}

.publishedDate {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 0 36px;
  font-size: 12px;
  padding: 0;
  text-align: end;
  font-weight: 300;
  color: var(--titleText);
}